@import "tailwindcss";
@import "tailwind-animations";

@theme inline{
    --font-mono: var(--font-terminess-mono);
    --font-sans: var(--font-segoeui);
}

.pixelated-image {
    image-rendering: pixelated;
}

@layer base {
    h1 {
        @apply text-3xl lg:text-4xl my-2;
    };
    h2 {
        @apply text-2xl lg:text-3xl my-2;
    };
    h3 {
        @apply text-xl lg:text-2xl my-2;
    };
    ul {
        @apply pl-8 list-disc
    }
}